#studentManagerIFrame {
	box-sizing: border-box;
	border: none;
	height: 100%;
	min-width: 25rem;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	border-left: 1px solid #ccc;
	box-shadow: 5px 0px 10px #ccc;
}